.inputImg {
  width: 280px;
  padding: 10px 15px;
  border: 2px solid darkslategrey;
  border-radius: 8px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: darkslategrey;
  outline: none;
}
.inputImg:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
}
.inputImg:focus {
  outline: 1px auto -webkit-focus-ring-color;
}

.searchImgForm {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  justify-content: center;
}
.submitBtn {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  width: 180px;
  background-color: #ff3d00;
  border-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submitBtn:hover,
.submitBtn:focus {
  color: darkslategrey;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .inputImg {
    width: 240px;
    padding: 8px 12px;
    font-weight: 300;
    font-size: 18px;
  }
  .submitBtn {
    font-weight: 400;
    font-size: 18px;
    padding: 12px;
    width: 150px;
  }
}
@media screen and (max-width: 480px) {
  .inputImg {
    width: 200px;
    padding: 5px 10px;
    font-weight: 300;
    font-size: 14px;
  }
  .submitBtn {
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
    width: 130px;
  }
}
