.inputImg {
  width: 272px;
  padding: 10px 16px;
  border: 1px solid #808080;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  outline: none;
}
.inputImg:hover {
  border: #ff3d00;
}
.searchImgForm {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.submitBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  width: 91px;
  background-color: #ff3d00;
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
