.modal {
  position: fixed;
  top: 40%;
  left: 30%;
  transform: translate(-22%, -40%);
  background-color: rgb(22, 52, 47);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 0px 10px 5px #7a6c6c;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalContent img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
